@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --primary-color:rgb(130, 245, 149);
}
body {
    background-color: #1b1a1a;
    color: #fff;
}
/* Global styles */

li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}